/* 

COLOUR PALETTE

    brass: #ecb731;
    light: #f5f5f5;
    dark: #182222;

*/

:root {

    --brass: #ecb731;
    --light: #f5f5f5;
    --dark: #182222;
    --green-bkg: #2b4635;
}

body {
    background-color: white;
    color: var(--dark);
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.2;
    font-size: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 1rem;
}

/* Typography */
h1, h2, h3 {    
    font-family: 'Lato', sans-serif;
}
h1 {
    font-size: calc((40 / 16) * 1rem);
    border-bottom: 3px solid var(--brass);
    margin-bottom: 1rem;
}
h2 {
    font-size: calc((30 / 16) * 1rem);    
    line-height: 1.25;
    margin: 1rem 0;
}
h3 {
    font-size: calc((24 / 16) * 1rem);    
    line-height: 1.25;
    margin: 1rem 0;
}
p {
    margin-bottom: 1rem;
}
a {
    color: var(--dark);
}
a:hover {
    color: var(--brass);
}
/* mostly from lab 1 */



/* header */
header {
    text-align: center;
    
}
header img {
    max-width: 500px;    
    display: inline-block;
}

/* Main Content */

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* Footer */

footer {
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
}

.green-bkg {
    background-color: var(--green-bkg);
    color: var(--light);
    text-align: center;
}
.green-bkg img {
    height:50px ;
    display: inline-block;
    margin-bottom: 1rem;
}
.green-bkg a {
    background-color: var(--light);
    color: var(--green-bkg);
    display: inline-block;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    text-decoration: none;
}
.green-bkg a:hover {
    background-color: var(--brass);
}

/* Media Queries */
@media(min-width:640px) {
    header {
        text-align: left;
    }
    .flex section, .flex div  {
        width: calc((100% - 1rem) / 2);
    }
    .align-center {
        align-items: center;
    }
    .align-center h2 {
        margin-top: 0;
    }
    footer {
        text-align: left;
    }
    
    .green-bkg .container div{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .green-bkg a {
        width: 30%;
        white-space: nowrap;
    }
}


@media(min-width:1000px) {
    .flex:not(.align-center) section {
        width: calc((100% - 2rem) / 3);
    }
    
}

